h1 {
    font-family: 'Shrikhand', cursive;
}
h4 {
    font-family: 'Shrikhand', cursive
}
p,h2 {
    font-family: 'Roboto', sans-serif;
}
h3,p{
	margin: 5px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.logo-center {
	margin-left: auto;
	margin-right: auto;
    width: 5em
}
.flex-centre {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 15px;
}

.text-align-center {
    text-align: center;
}
.flex-column-centre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bordure {
    box-shadow: inset 1px 4px 9px -6px;
}
.texte-gras {
	font-weight: bold;
}
.back-gris1 {
	background-color: #eaeaea;
}
.back-gris {
    background-color: #F2F2F2;
}
.margin-reservez {
    margin-top:0.5rem;
}
/*Nav*/
.size-nav {
    height: 300px;
}
.icone-mark-left {
    margin-right: 15px;
}
.font-size-decouvrez {
    font-size: large;
    color: gray;
    margin-bottom: 1.5rem;
}
.button-explorer {
    color: white;
    font-size: large;
    border-radius: 30px;
    border: none;
    padding: 1rem 2rem;
    box-shadow: 2px -1px 16px -3px #000000;
    background: linear-gradient(to top,#FF79DA,rgb(216, 138, 226));
    transition: 200ms;
    margin-top: 0.5rem;
}
.button-explorer:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.marg {
    margin-bottom: 20px;
}
/*Fonctionnement*/
.marg-section {
    margin-top: 38px;
}
.margin-titre {
    margin-left: 10px;
    padding-bottom: 4px;
}
.ol-fonctio {
    flex-wrap: wrap;
    gap: 1rem;
}
.ol-fonctio::before {
    list-style: none;
    counter-reset: li;
}
.li-fonctio {
    list-style-type: none;
    background-color: #F2F2F2;
    padding:1.5rem 2rem;
    border: 1px solid #F2F2F2;
    border-radius:10px 10px 10px 10px;
    margin-right: 20px;
    align-items: center;
    box-shadow: 2px -1px 16px -3px black;
    transition: 200ms;
    counter-increment: li;
    position: relative;
}
.li-fonctio::before {
    content: counter(li);
    color: rgb(245, 240, 255);
    background-color: #9356dc;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    left: -20px;
    bottom: 16px;
}
.li-fonctio:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.bloc-fonctio {
    margin-bottom: 20px;
}
.icone-mark-left1 {
    color: rgb(134, 130, 130);
    margin-right: 12px;
}
.icone-mark-left1::before {
    margin-right: 12px;
}
/*Restaurants*/
.size-restaurants {
    height: 1323px;
}
.marg-titre1 {
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 36px;
}
.marg-section {
    margin-top: 53px;
}
.block1 {
    padding: 5%;
    padding-bottom: 5%;
    width: 90%;
    padding-top:0%;
}
.cube-restaurants {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.cube-restaurants:hover {
    cursor: pointer;
}
.cube-details-restaurants {
	width: 90%;
}
.img-restaurants {
    object-fit: cover;
	width: 100%;
	height: 190px;
	border-radius: 15px 15px 0 0;
}
.nouveau-text {
    position: absolute;
    right: 26px;
    color: #008766;
    padding-bottom: 1px;
    background-color: #99e2d0;
    margin-top: -95px;
    border-radius: 2px;
}
.nouveau-text1 {
    position: absolute;
    right: 26px;
    color: #008766;
    padding-bottom: 1px;
    background-color: #99e2d0;
    margin-top: -95px;
    border-radius: 2px;
}
.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marg-h3 {
    margin-top: 20px;
}
.coeur {
    font-size: 25px;
    margin-left: 243px;
    position: absolute;
    margin-top: -70px;
    border-radius: 50%;
}
.coeur1 {
    font-size: 25px;
    margin-left: 243px;
    position: absolute;
    margin-top: -70px;
    border-radius: 50%;
    color: transparent;
    background-image: linear-gradient(to top,#FF79DA,rgb(216, 138, 226));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0; 
}
.coeur1:hover {
    cursor: pointer;
    color: transparent;
    opacity: 1;
    transform: scale(1.2);
    transition: all 400ms
}
/*Footer*/
.footer {
    height: 179px;
    padding: 1px;
}
.back-black {
    background-color: #353535;
}
.ohmyfood-style {
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 17px;
}
.footer-contact {
    color: white;
    margin-left: 19px;
    font-weight: 900;
    margin-left: 43px;
}
.footer-contact1 {
    color: white;
    margin-left: 19px;
}
.fourk-footer {
    color: white;
    position: absolute;
    margin-left: 18px;
    margin-top: -22px;
}
.margin-propo {
    margin-bottom: 1px;
}

.marg-cube {
    margin-bottom: 23px;
}
.marg-cube1 {
    margin-top: 18px;
}

@media screen and (min-width: 768px) {

 .nouveau-text {
    position: absolute;
    right: 26px;
    color: #008766;
    padding-bottom: 1px;
    background-color: #99e2d0;
    margin-top: -109px;
    margin-right: 100px;
    border-radius: 2px;
 }
 .nouveau-text1 {
    position: absolute;
    right: 128px;
    color: #008766;
    padding-bottom: 1px;
    background-color: #99e2d0;
    margin-top: -95px;
    border-radius: 2px;
}
 .li-fonctio {
    list-style-type: none;
    background-color: #F2F2F2;
    padding:1.5rem 2rem;
    border: 1px solid #F2F2F2;
    border-radius:10px 10px 10px 10px;
    margin-right: 90px;
    margin-left: 90px;
    align-items: center;
    box-shadow: 2px -1px 16px -3px black;
    transition: 200ms;
    counter-increment: li;
    position: relative;
 }
 .li-fonctio::before {
    content: counter(li);
    color: rgb(245, 240, 255);
    background-color: #9356dc;
    display: grid;
    width: 32px;
    height: 32px;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    left: -20px;
    bottom: 16px;
 }
 .li-fonctio:hover {
    cursor: pointer;
    transform: scale(1.1);
 }
 .coeur {
    font-size: 25px;
    margin-left: 600px;
    position: absolute;
    margin-top: -70px;
    border-radius: 50%;
 }
 .coeur1 {
    font-size: 25px;
    margin-left: 600px;
    position: absolute;
    margin-top: -70px;
    border-radius: 50%;
    color: transparent;
    background-image: linear-gradient(to top,#FF79DA,rgb(216, 138, 226));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0; 
 }
 .block1 {
    padding: 5%;
    padding-bottom: 5%;
    width: 90%;
    padding-top: 0%;
    padding-bottom: 0%;
}
}
@media screen and (min-width:1679px){
    .cube-restaurants {
        width: 53%;
        height: auto;
        background-color: white;
        padding: 0.5%;
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 0%;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .block1 {
        padding: 5%;
        padding-bottom: 5%;
        width: 90%;
        padding-top:0%;
    }
    .block2 {
        padding: 5%;
        padding-bottom: 5%;
        width: 90%;
        padding-top:0%;
    }
    .img-restaurants {
        object-fit: cover;
        width: 100%;
        height: 290px;
        border-radius: 15px 15px 0 0;
    }
    .size-restaurants {
        height: 1080px;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .nouveau-text1 {
        position: absolute;
        right: 53%;
        color: #008766;
        padding-bottom: 1px;
        background-color: #99e2d0;
        margin-top: -109px;
        border-radius: 2px;
    }
    .nouveau-text {
        position: absolute;
        right: 2%;
        color: #008766;
        padding-bottom: 1px;
        background-color: #99e2d0;
        margin-top: -109px;
        border-radius: 2px;
    }
}